* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
p,
label {
  font-family: "Open Sans", sans-serif;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeFromLeft {
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}
@keyframes arrowDown {
  0% {
    bottom: 25px;
  }
  30% {
    bottom: 15px;
    opacity: 1;
  }
  70% {
    bottom: 10px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}
@keyframes slideTopIn {
  100% {
    top: 0%;
    opacity: 1;
  }
}
@keyframes scaleRight {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes collapseDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100%;
  }
}
@keyframes collapseUp {
  0% {
    max-height: 100%;
  }
  100% {
    max-height: 0;
  }
}
@keyframes skeletonBlur {
  to {
    background-position: 250% -150px;
  }
}
@media screen and (min-width: 320px) {
  .jl-page-wrapper,
  .jl-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1c1c1c;
    border: 30px solid #000;
  }

  .jl-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
  }
  .jl-preloader-inner {
    margin-top: -45px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .jl-preloader-inner img {
    max-height: 50vh;
    max-width: 50vw;
  }
  .jl-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(44, 203, 105, 0.95);
  }
  .jl-modal {
    width: 100%;
    display: none;
    padding: 30px;
    border-radius: 0 30px 30px 30px;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1200;
    opacity: 0;
  }
  .jl-modal h1 {
    font-size: 24px;
  }
  .jl-modal p {
    font-size: 14px;
  }

  .jl-modal-header,
  .jl-modal-body,
  .jl-form {
    width: 100%;
    display: table;
    position: relative;
  }
  .jl-close-modal {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: #2ccb69;
    text-align: center;
    line-height: center;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    border: none;
    background-color: #2f2f2f;
  }
  .jl-form label {
    margin-bottom: 5px;
    font-size: 14px;
    display: inline-block;
  }
  .jl-field,
  .jl-textarea {
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 14px;
    text-indent: 15px;
    max-height: 340px;
  }
  .jl-textarea {
    height: 60px;
  }

  .jl-field {
    height: 35px;
  }
  .jl-topbar {
    width: 100%;
    height: 90px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }
  .jl-topbar-background {
    width: calc(100% - 60px);
    margin-left: 30px;
    height: 90px;
    max-height: 0;
    display: block;
    background: linear-gradient(
      to bottom,
      rgba(28, 28, 28, 0.95) 0%,
      rgba(28, 28, 28, 0.95) 40%,
      rgba(28, 28, 28, 0) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
  }
  .jl-logo {
    width: 75px;
    height: 90px;
    float: left;
    margin-left: 60px;
    background-color: #2ccb69;
    border-radius: 0 0 37px 0;
  }
  .jl-logo img {
    width: 46px;
    height: 31px;
    display: block;
    margin: 35px auto 0 auto;
  }
  .jl-menu {
    display: none;
  }
  #jl-btn-open-modal {
    font-size: 14px;
    padding: 0 20px;
    margin: 015px auto 0 auto;
  }

  .jl-btn-menu-mob {
    width: 54px;
    height: 54px;
    display: block;
    border-radius: 50%;
    border: none;
    background-color: #2ccb69;
    color: #000;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 1300;
    cursor: pointer;
  }
  .jl-btn-menu-mob ion-icon {
    vertical-align: middle;
  }
  .jl-menu-mob {
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    padding: 100px 30px 30px;
    z-index: 1200;
    transition: all 0.3s ease-in-out;
  }
  .jl-menu-is-closed {
    right: -240px;
  }
  .jl-menu-mob a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-family: "Open Sans", serif;
    text-decoration: none;
  }
  .jl-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    background-color: #2ccb69;
    background-image: url("../images/icon-contact-close.svg");
    background-repeat: no-repeat;
    background-position: top;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }
  .jl-contact-info {
    width: 245px;
    height: 165px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 200;
    display: none;
  }
  .jl-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }
  .jl-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }
  .jl-social-links,
  .jl-social-links-circle {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
    margin-top: 7px;
  }
  .jl-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }
  .jl-social-links-circle .jl-social {
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    transition: all 0.2s ease-out;
  }
  .jl-social-links-circle .jl-social:hover {
    background-color: #000;
    color: #2ccb69;
  }
  .jl-social img {
    width: 20px;
    height: auto;
    display: block;
    margin: 13px auto 0;
  }
  .jl-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    display: relative;
  }
  .jl-corner:after {
    content: "";
    width: 24px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -24px;
    right: 0;
    background: transparent url(../images/corner.svg) no-repeat;
  }

  /* -----HOME----- */

  .jl-display-text {
    margin-top: 60px;
  }
  .jl-display-text p {
    font-size: 14px;
  }

  #jl-home-presentation {
    background-image: url("../images/joao-lemon-designer-home.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: 100% auto;
    position: relative;
  }
  #jl-home-presentation h1,
  #jl-home-presentation p {
    text-align: center;
  }

  .jl-scroll-down {
    width: 70px;
    height: 105px;
    border-radius: 35px 35px 0 0;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    opacity: 1;
  }
  .jl-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }
  .jl-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1.5s 1.5s linear infinite;
  }
  .jl-arrow-down:before {
    content: "";
    width: 2px;
    height: 45px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    animation: lineDown 1.5s infinite ease-out;
    transform-origin: top center;
  }

  /* -----HOME-PORTFOLIO----- */

  .jl-portfolio-navigator {
    width: 145px;
    height: 400px;
    display: none;
    position: absolute;
    top: 26vh;
  }
  .jl-navigator-counter {
    width: 100%;
    height: 90px;
    display: block;
    margin-bottom: 60px;
    position: relative;
  }
  .jl-navigator-counter::before {
    content: "";
    display: block;
    width: 70px;
    height: 110%;
    background: linear-gradient(to right, #1c1c1c 45%, #1c1c1c00 100%);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .jl-navigator-counter span {
    font-family: "Open Sans", sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 90px;
  }
  .jl-item-navigator {
    width: 100%;
    display: table;
  }
  .jl-item-navigator a {
    width: 20px;
    height: 1px;
    display: block;
    margin: 0 0 80px 35px;
    background-color: #4d4c4c;
    pointer-events: none;
  }
  .jl-item-navigator .jl-item-active {
    background-color: #2ccb69;
  }
  .jl-item-navigator a:last-child {
    margin-bottom: 30px;
  }
  .jl-items-next-prev {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
  }
  .jl-items-next-prev-mob {
    width: 150px;
    margin: 0 auto;
    border: 1px solid #2ccb69;
    position: relative;
  }
  .jl-items-next-prev-manage-it {
    width: fit-content;
    position: absolute;
    bottom: -100px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .jl-items-next-prev div {
    line-height: 45px;
  }
  .jl-items-counter {
    font-family: "Open Sans", sans-serif;
    color: #4d4c4c;
    line-height: 45px;
  }
  .jl-items-counter span:nth-child(1) {
    color: #bcbcbc;
  }
  .jl-item-prev,
  .jl-item-next {
    height: 45px;
    width: 45px;
    color: #2ccb69;
    text-align: center;
    cursor: pointer;
  }
  ion-icon {
    height: 45px;
    font-size: 24px;
  }
  .jl-slider-container {
    display: block;
    overflow: hidden;
    margin-left: 6px;
    position: relative;
  }
  .jl-slider-container-smooth {
    display: none;
    width: 20px;
    height: calc(100% - 30px);
    background: linear-gradient(to right, #1c1c1c, #1c1c1c00);
    position: absolute;
    left: 0;
    z-index: 50;
    top: 0;
  }
  .jl-slider-list {
    width: auto;
    height: fit-content;
    display: block;
    list-style: none;
    margin-left: 20px;
  }
  .jl-portfolio-list {
    list-style: none;
  }
  .jl-slider-list .jl-slider-item {
    display: block;
    height: fit-content;
    display: block;
    float: left;
    margin-top: calc(26vh - 105px);
  }
  .jl-portfolio-list .jl-portfolio-item {
    margin-bottom: 100px;
  }
  .jl-slider-list .jl-portfolio-item-info {
    width: 100%;
    display: table;
    position: relative;
    opacity: 0;
    left: -75px;
    text-align: center;
    padding-right: 20px;
  }
  .jl-portfolio-item-info button {
    margin: 0 auto 15px auto;
  }
  .jl-portfolio-item-info h1 {
    font-size: 28px;
  }
  .jl-portfolio-item-info p {
    font-size: 14px;
  }
  .jl-portfolio-list .jl-portfolio-item-info {
    width: calc(100% - 105px);
  }
  .jl-portfolio-item-info a {
    text-decoration: none;
  }
  .jl-slider-list .jl-portfolio-item-thumb,
  .jl-portfolio-list .jl-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 35px 0 19px 0;
    position: relative;
  }
  .jl-slider-list .jl-portfolio-item-thumb > button,
  .jl-portfolio-list .jl-portfolio-item-thumb > button {
    margin: 17px 75px 0 0;
    float: right;
    left: -20px;
    opacity: 0;
  }
  .jl-portfolio-list .jl-portfolio-item-thumb > button {
    opacity: 1;
    left: 0;
  }
  .jl-slider-list .jl-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2c2c2c;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
  }
  .jl-portfolio-list .jl-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2c2c2c;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right;
  }
  .jl-slider-list .jl-portfolio-item-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: 0;
    transform: scale(0);
  }
  .jl-portfolio-list .jl-portfolio-item-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: 0;
  }

  /* -----PORTFOLIO----- */

  .jl-section-offset-top {
    padding-top: 130px;
  }
  .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info {
    text-align: right;
    margin-top: 53px;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(odd)
    .jl-portfolio-item-info
    button {
    float: right;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-info {
    margin: 53px 0 0 0;
  }
  .jl-portfolio-list .jl-portfolio-item:nth-child(even) .row {
    flex-direction: row-reverse;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    img {
    left: 0;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    button {
    float: left;
    margin-left: 0;
  }

  /* -----SOBRE----- */

  #jl-avatar-sobre img {
    position: relative;
    left: -42px;
    bottom: -30px;
    max-height: 737px;
    width: auto;
  }

  /* -----DETALHES----- */

  .jl-hero {
    height: 500px;
    background-image: url("../pages/portfolio/img/hero@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }
  .jl-hero h1 {
    margin-bottom: 50px;
  }
  .jl-hero-inner {
    height: 500px;
  }
  .jl-hero-inner-content {
    position: relative;
  }
  .jl-hero-inner-content div {
    z-index: 100;
  }
  .jl-hero-inner-content p {
    margin-bottom: 15px;
  }
  .jl-hero-inner-content::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: block;
    position: absolute;
    left: -65px;
    top: -65px;
    box-sizing: content-box;
    padding: 65px;
  }
  .jl-project-stats {
    width: 100%;
    height: 100%;
    display: table;
    border-right: 1px solid #2ccb69;
  }
  .jl-post {
    width: 100%;
    display: table;
  }
  .jl-post p {
    margin-bottom: 30px;
  }
  .jl-post-section {
    width: 100%;
    display: table;
    padding: 45px 0;
  }
  .jl-pre-gallery {
    padding-bottom: 350px;
  }
  .jl-post-gallery {
    display: block;
  }
  .jl-post-gallery .container {
    position: relative;
    top: -270px;
  }
  .jl-gallery-frame-container {
    width: 400px;
    display: none;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1100;
  }
  .jl-gallery-frame-inner {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .jl-gallery-frame-inner .jl-skeleton-loading {
    width: 86%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 3%;
    left: 7%;
    z-index: 1250;
  }
  .jl-gallery-frame-inner .jl-skeleton-loading > div {
    width: 90%;
    background-color: #dedede;
    margin: 10% 0;
    border-radius: 8px;
    background-image: url("../images/skeleton-loading-blur.svg");
    background-repeat: no-repeat;
    background-position: -100% -150px;
    animation: skeletonBlur 2s infinite ease-out;
  }
  .jl-gallery-frame-inner .jl-skeleton-loading > div:first-child,
  .jl-gallery-frame-inner .jl-skeleton-loading > div:last-child {
    height: 15%;
  }
  .jl-gallery-frame-inner .jl-skeleton-loading > div:nth-child(2) {
    height: 60%;
  }
  .jl-toggle-gallery {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #000;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -15px;
    right: -45px;
    z-index: 1200;
  }
  .jl-toggle-gallery ion-icon {
    color: #2ccb69;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
  }

  img.jl-gallery-frame {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1300;
  }
  .jl-gallery-frame-image {
    width: 87%;
    max-width: 87%;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    z-index: 1200;
    position: relative;
    top: 20px;
  }
  /* Utilitárias */
  .jl-title-xlarge {
    font-size: 70px;
  }
}
@media screen and (min-width: 576px) {
  #jl-home-presentation {
    background-size: auto 98%;
  }
  .jl-slider-list .jl-portfolio-item-info {
    width: calc(100% - 75px);
  }
  .jl-slider-list .jl-portfolio-item-info {
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .jl-slider-list .jl-portfolio-item-info {
    text-align: left;
  }
  .jl-portfolio-item-info button {
    margin: 0;
  }
  .jl-slider-list .jl-slider-item {
    margin-top: calc(26vh - 75px);
  }

  .jl-slider-list .jl-portfolio-item-thumb img {
    left: -75px;
  }
  .jl-slider-list .jl-portfolio-item-info {
    margin-top: 80px;
  }
  .jl-items-next-prev-mob {
    bottom: 70px;
  }
}
@media screen and (min-width: 992px) {
  #jl-home-presentation h1,
  #jl-home-presentation p {
    text-align: left;
  }
  #jl-btn-open-modal {
    margin: 15px 0 0 0;
  }
  .jl-topbar {
    height: 110px;
  }
  .jl-logo {
    height: 110px;
  }
  .jl-logo img {
    margin: 55px auto 0 auto;
  }
  .jl-topbar-background {
    height: 150px;
  }
  .jl-display-text {
    margin-top: 10vh;
  }
  .jl-display-text p {
    font-size: 16px;
  }

  .jl-slider-list .jl-portfolio-item-info {
    margin-top: 55px;
  }
  .jl-portfolio-item-info h1 {
    font-size: 64px;
  }
  .jl-portfolio-item-info p {
    font-size: 16px;
  }

  .jl-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
    background-color: transparent;
  }
  .jl-menu-mob {
    display: none;
  }
  .jl-slider-list .jl-portfolio-item-thumb,
  .jl-portfolio-list .jl-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 75px 0 19px 0;
    position: relative;
  }
  .jl-btn-menu-mob {
    display: none;
  }
  .jl-menu a {
    font-family: "Open Sans";
    font-size: 16px;
    color: #bcbcbc;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    margin: 50px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }
  .jl-menu a:first-child {
    margin-left: 0;
  }
  .jl-menu a:hover {
    color: #2ccb69;
  }
  .jl-menu a:before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2ccb69;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }
  .jl-menu a:hover:before {
    transform: scale(1, 1);
  }
  .jl-title-xlarge {
    font-size: 120px;
  }
  .jl-modal {
    width: 800px;
  }
  @keyframes slideTopIn {
    100% {
      top: 15%;
      opacity: 1;
    }
  }
  .jl-modal h1 {
    font-size: 32px;
  }
  .jl-modal p {
    font-size: 16px;
  }
  .jl-form label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .jl-field,
  .jl-textarea {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .jl-field {
    height: 45px;
  }
  .jl-textarea {
    height: 128px;
  }
  .jl-portfolio-list .jl-portfolio-item-thumb img {
    left: -75px;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-info {
    margin: 53px 0 0 105px;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    img {
    left: 75px;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    button {
    float: left;
    margin-left: 75px;
  }
}
@media screen and (min-width: 1200px) {
  #jl-btn-open-modal {
    font-size: 16px;
  }
  .jl-items-next-prev-mob {
    display: none;
  }
  .jl-portfolio-navigator {
    display: table;
  }
  .jl-slider-container-smooth {
    display: block;
  }
}
@media screen and (min-width: 1364px) {
}
@media screen and (min-width: 1600px) {
}

/* BOTÕES */

.jl-btn {
  display: table;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-out;
  text-transform: lowercase;
  position: relative;
}
.jl-btn ion-icon {
  font-size: 21px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  margin-left: 5px;
}
.jl-btn-block {
  display: block;
  width: 100%;
}
.jl-btn-small {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border-radius: 14px;
  font-size: 12px;
}
.jl-btn-medium {
  height: 38px;
  line-height: 38px;
  padding: 0 27px;
  border-radius: 19px;
  font-size: 14px;
}
.jl-btn-large {
  height: 45px;
  line-height: 45px;
  padding: 0 35px;
  border-radius: 23px;
  font-size: 16px;
}
.jl-btn-green {
  background-color: #2ccb69;
  color: #1c1c1c;
}
.jl-btn-green:hover {
  background-color: rgb(6, 135, 55);
  color: #fff;
  cursor: pointer;
}
.jl-btn-dark {
  background-color: #151515;
  color: #2ccb69;
}
.jl-btn-dark:hover {
  background-color: #2f2f2f;
  color: #fff;
  cursor: pointer;
}

/* CLASSES UTILITÁRIAS */

.jl-title {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}
.jl-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.jl-title-medium {
  font-size: 48px;
}
.jl-title-large {
  font-size: 64px;
}
.jl-text-green {
  color: #2ccb69;
}
.jl-text-dark {
  color: #4d4c4c;
}
.jl-text-light {
  color: #bcbcbc;
}
.jl-text-black {
  color: #000;
}
.jl-bg-green {
  background-color: #2ccb69;
}
.jl-bg-dark {
  background-color: #4d4c4c;
}
.jl-bg-light {
  background-color: #bcbcbc;
}
.jl-bg-black {
  background-color: #000;
}
.jl-text-center {
  text-align: center;
}
.jl-mar-15 {
  margin: 15px;
}
.jl-mar-top-15 {
  margin-top: 15px;
}
.jl-mar-bottom-15 {
  margin-bottom: 15px;
}
.jl-mar-left-15 {
  margin-left: 15px;
}
.jl-mar-right-15 {
  margin-right: 15px;
}
.jl-pad-15 {
  padding: 15px;
}
.jl-pad-top-15 {
  padding-top: 15px;
}
.jl-pad-bottom-15 {
  padding-bottom: 15px;
}
.jl-pad-left-15 {
  padding-left: 15px;
}
.jl-pad-right-15 {
  padding-right: 15px;
}
.jl-mar-30 {
  margin: 30px;
}
.jl-mar-top-30 {
  margin-top: 30px;
}
.jl-mar-bottom-30 {
  margin-bottom: 30px;
}
.jl-mar-left-30 {
  margin-left: 30px;
}
.jl-mar-right-30 {
  margin-right: 30px;
}
.jl-pad-30 {
  padding: 30px;
}
.jl-pad-top-30 {
  padding-top: 30px;
}
.jl-pad-bottom-30 {
  padding-bottom: 30px;
}
.jl-pad-left-30 {
  padding-left: 30px;
}
.jl-pad-right-30 {
  padding-right: 30px;
}
.jl-full-height {
  height: 100vh;
  position: relative;
}
.jl-almost-full-height {
  height: calc(100vh - 30px);
  position: relative;
}
.jl-first-section {
  height: calc(100vh - 30px);
}
.jl-no-padding {
  padding: 0px !important;
}
.jl-box-img img {
  width: 100%;
  display: table;
}
.jl-img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.jl-page-list {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.jl-page-list > li {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}
.jl-page-list > li:before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0px;
  background-color: #2ccb69;
}

/* CLASSES COMPORTAMENTO */

.jl-is-open {
  display: block;
}
.jl-slide-top-in {
  animation: slideTopIn 0.6s forwards cubic-bezier(0.47, 1.55, 0.78, 0.76);
}
.jl-change-icon {
  background-position: bottom;
}
.jl-fade-out {
  animation: fadeOut 1s forwards ease-out;
}
.jl-fade-in {
  animation: fadeIn 0.3s forwards ease-out;
}
.jl-fade-from-left {
  animation: fadeFromLeft 1.5s 0.7s forwards cubic-bezier(0, 1.01, 0.32, 1);
}
.jl-scale-right {
  animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0, 1.01, 0.32, 1);
}
.jl-scale-up {
  animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
}
.jl-no-radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.jl-collapse-down {
  animation: collapseDown 0.4s forwards ease-in;
}
.jl-collapse-up {
  animation: collapseUp 0.4s forwards ease-in;
}
.jl-display-none {
  display: none;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
